.dashboard {
  height: 100%;
  padding: 20px 40px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__container-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  &__input {
    border-radius: 3px;
    margin-right: 20px;
  }

  @media only screen and (max-width: 768px) {
    &__container-input {
      flex-direction: column;
    }
    &__input {
      margin-bottom: 10px;
    }
  }
}