.data-table {
  background-color: white;
  text-align: center;

  &__placeholder {
    animation: card-appear 1s ease;
    color: black;
    height: 520px;
    text-align: center;

    @keyframes card-appear {
      0%  {
        opacity: 0;
        transform: scale(0.8);
      }
      100%  {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}